@media screen and (max-width: 992px)
{
    body
    {
        width: 100%;
    }
    header
    {
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
    }
    nav
    {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: center;
        align-content: center;
    }
    .nav-button
    {
        margin-top: 25px;
        border-bottom: 2px solid rgb(212, 214, 212);
        padding-bottom: 20px;
        width: 50%;
        text-align: center;

    }
    .nav-button:hover
    {
        border-top: none;
        padding-top: 20px;
        border-bottom: 2px solid #0065FC;
    }
    #recherche > span 
    {
        display: none;
    }
    #recherche 
    {
        width: auto;
        padding: 10px;
    }
    #recherche
    {
        width: auto;
    }
    .entete
    {
        margin-left: 20px;
        margin-right: 10px;
    }
    .entete > p 
    {
        flex-direction: row;
        align-items: center;
        font-size: 75%;
    }
    #i
    {
        margin-right: 10px;
    }
    .filtres
    {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
    }
    .button 
    {
        width: 100%;
        flex-wrap: wrap;
    }
    .button-filtres
    {
        height: 35px;
        margin-right: 35px;
        margin-bottom: 10px;
    }
    .filtre 
    {
        padding: 11px;

    }
    
    #hebergement
    {
        width: auto;
        background-color: white;
    }
    .hotes > a .hote-img img 
    {
        width: 295px;
        height: 125px;
        border-radius: 15px 15px 0px 0px;
    }
    .hotes
    {
        width: auto;
        justify-content: flex-start;
    }
    .hotes > figure 
    {
        margin-left: 40px;
    }
    .hotes-container
    {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
    }
    #mer
    {
        height: 125px;
        width: 295px;
    }
    #amina
    {
        height: 125px;
        width: 295px;
    }
    /* .hotes > figure figcaption 
    {
        font-size: 80%;
    } */

    /* PARTIE ASIDE */


    aside
    {
        background-color: #F2F2F2;
        max-width: 100%;
        border-radius: 0px;
        margin-left: 0px;
        padding-bottom: 10px;
    }
    .populaire-cards > .img-link .figure-img .populaire-card-text
    {
        height: 140px;
    }
    .populaire 
    {
        align-items: stretch;
    }
    .container-hebergement-populaire
    {
        flex-direction: column-reverse;
        width: auto;
    }
    .populaire-cards > a img
    {
        max-width: 130px;
        height: 148px;
        object-fit: cover;
        border-radius: 20px 0px 0px 20px;
    }

    /* PARTIE ACTIVITES */
    
    .card-big-activites
    {
        height: 210px;
        width: 310px;
        margin-top: 30px;
        margin-bottom: 10px;
        margin-left: 35px;
        margin-right: 0px;
    }
    .card-big-img
    {
        width: 310px;
        height: 185px; 
        border-radius: 20px 20px 0px 0px;
    }
    .card-big-img img 
    {
        height: 260px;
    }
    .card-img-legend
    {
        font-size: 80%;
        padding-left: 15px;
        padding-top: 5px;
    }
    .card-big 
    {
        height: 225px;
        width: 310px;
    }
    .card-small-activites
    {
        width: 310px;
        height: 210px;
        margin-top: 35px;
        margin-left: 35px;
        margin-bottom: 15px;
        margin-right: 0px;
        align-items: center;
        justify-content: center;
    }
    .card-small-img 
    {
        width: 310px;
        height: 185px; 
        border-radius: 20px 20px 0px 0px;
    }

    .card-small 
    {
        height: 225px;
        width: 350px;
    }
    .cards-activites
    {
        flex-direction: column;
        justify-content: center;
        flex-wrap: nowrap;
        align-items: center;
        width: 100%;
    }
    .activite-title
    {
        margin-left: 35px;
        font-size: 130%;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .activites-columns
    {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
    

    /* PARTIE FOOTER */


    footer 
    {
        flex-direction: column;
        padding-left: 35px;
        font-size: 100%;
    }
    .a-propos
    {
        margin: 0px;
        padding-top: 20px;
        padding-left: 30px;
    }
    .nos-hebergements
    {
        margin: 0px;
        padding-top: 20px;
        padding-left: 30px;
    }
    .assistance
    {
        padding-top: 20px;
        padding-bottom: 20px;
        margin-left: 30px;
    }
}
